<h1><%= link_to @owner.name, user_path(@owner.user_id) %></h1>
<h2>Collections:</h2>
<ul>
<% @owner.collections.each do |collect| %>
<li><%= link_to collect.category, collection_path(collect) %></li>
<ul><% collect.cards.each do |card| %>
<li> <%= card.count %>x <%= link_to card.name, card_path(card) %></li>
<% end %></ul>
<br>
<% end %></ul>