<h1><%= @user.user_name %></h1>

<p><%= link_to "My Collections", owner_path(@owner) %></p>

<div class='row'>
  <div class='col-md-4 col-md-offset-4'>
    <p><%= form_tag('/logout') do %>
    <%= submit_tag "Log Me Out", class: 'btn btn-primary' %>
    <% end %></p>
  </div>
</div>
