<h1><%= @collector.name %></h1>


<h2>Cards:</h2>
<ul><% @collector.cards.each do |card| %>
<li><%= card.count %> <%= card.name %><% if card.count > 1 %>s<% end %></li>
<% end %></ul>

<h2>Collections:</h2>
