<h1>All My Cards</h1>

<ul><% @cards.each do |card| %>
<li><%= card.count %>x <%= link_to card.name, card_path(card) %>, from <%= link_to card.collection.category, collection_path(card.collection) %></li>
<% end %></ul>