<!DOCTYPE html>
<html>
  <head>
    <title>CollectionsApp</title>
    <%= csrf_meta_tags %>
<style> 


    </style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
